{
  "name": "discord-auto-bot",
  "version": "1.0.0",
  "main": "index.js",
  "scripts": {
    "start": "node index.js"
  },
  "dependencies": {
    "discord.js": "^14.14.1",
    "better-sqlite3": "^9.4.3",
    "axios": "^1.6.7",
    "ws": "^8.16.0",
    "dotenv": "^16.4.5"
  }
}
